In [2]:
import pandas as pd
#user_routes = pd.read_csv(r'C:\Users\emma\Desktop\user_routes.csv', sep = ',', header=None)
import seaborn as sns
import matplotlib.pyplot as plt
import mysql.connector   
from pandas import DataFrame

In [ ]:
 cnx = mysql.connector.connect(user='root', password='',
                              host='xxx.xxx.xxx.xx',
                              database='preferences')

try:
   cursor = cnx.cursor()
   cursor.execute("""
      SELECT *     
    FROM 
        PASSENGERS
  
   """)
   result = cursor.fetchall()
 
finally:
    cnx.close()

In [102]:
users = DataFrame(result)

In [29]:
users = users.rename(columns={ \
    0: 'ID', 
    1: 'USERNAME', 
    2: 'PASSWORD', 
    3: 'PREFERENCES', 
    4: 'IMPORT_DATETIME', 
    5: 'GDPR_AGREEMENT',
    6:'DELETED',
    7:'PASSWORD_B',
    8:'EMAIL' ,
    9:'FIRSTNAME',
    10:'MIDDLENAME',
    11:'LASTNAME',
    12:'GENDER',
    13:'PHONENUMBER',
    14: 'AVATARURL',
    15: 'ACCEPTPOSTING',
    16: 'RAILMAN'                         
    })

In [ ]:
passengers = DataFrame(result)

In [ ]:
passengers = passengers.rename(columns={ \
    0:'ID', 
    1: 'USER_ID',
    2:'PASSENGER',
    3:'ORGANIZATION_ID',
    4:'GROUP_REQUEST_ID',
    5:'EMAIL',
    6:'SEX',
    7:'PHONENUMBER',
    8:'BIRTHDAY' ,
    9:'SCHOOLBOY',
    10:'MARKETING',
    11:'PARAMEDIC',
    12:'FIRSTNAME',
    13:'MIDDLENAME',
    14: 'LASTNAME',
    15: 'DOCUMENTS',
    16: 'CREATED_AT'                                   
  })

In [ ]:
# считаем распределение полов среди пассажиров
sex_distribution = passengers.groupby('SEX').agg({'SEX':'count'}).rename(columns = {'SEX':'count'})
# считаем кол-во пассажиров, у которых пол не определен
sex_undefined =  passengers.SEX.isnull().sum()

In [108]:
sex_distribution

     count
SEX
F      215
M      527

In [107]:
sex_undefined

794

In [133]:
#считам описательные статистики относительно возраста

passengers.BIRTHDAY = pd.to_datetime(passengers.BIRTHDAY)
now = pd.to_datetime('now')
passengers['age'] = (now - passengers.BIRTHDAY).astype('<m8[Y]') 
passengers_age = passengers.dropna(subset=['age'])
passengers_age.age.describe()

count    742.000000
mean      30.002695
std       18.328241
min        0.000000
25%       20.000000
50%       31.000000
75%       40.000000
max      119.000000
Name: age, dtype: float64

In [30]:
users

,ID,USERNAME,PASSWORD,PREFERENCES,IMPORT_DATETIME,GDPR_AGREEMENT,DELETED,PASSWORD_B,EMAIL,FIRSTNAME,...,17,18,19,20,21,22,23,24,25,26
0,1,beluginTest,Belugin123,"{""ltpaToken2"":""nq6ZWnn/VnsVyPG/h5yLTgoqmq9kVfo...",{},NaT,NaN,NaN,None,None,...,0,None,None,2020-08-26 18:29:55,2020-08-26 18:29:55,1,NaN,None,0,None
1,2,necrofiloff,kld13Denboss2,"{""ltpaToken2"":""Xp/kXD/FOai+9yfAU2xkJCHlfvT+FHX...",{},2020-08-05,NaN,NaN,None,None,...,0,None,None,2020-08-26 18:29:55,2020-08-26 18:29:55,1,NaN,None,0,None
2,3,korni_rzd,1qazxsw2,"{""ltpaToken2"":""Ub8/Q3BChhDhyqYai0O3I3qNV92GWCd...",{},NaT,NaN,NaN,None,None,...,0,None,None,2020-08-26 18:29:55,2020-08-26 18:29:55,1,NaN,None,0,None
3,4,4_tests0001,ipZRgFVNgepuXz,"{""ltpaToken2"":""c8n+te7sYGnsrFaFGOLl5ytl1b3w+U3...","{\n ""location"": ""{{12*12}}"",\n ""place"": ""win...",NaT,NaN,NaN,None,None,...,0,None,None,2020-08-26 18:29:55,2020-08-26 18:29:55,1,NaN,None,0,None
4,5,4-tests0002,5cEDEf022EF79ecQW,"{""ltpaToken2"":""aSB5iHrga/rl82wIJwINW1aNT7SM8Kq...","{\n ""location"": """",\n ""place"": [],\n ""side""...",NaT,NaN,NaN,None,None,...,0,None,None,2020-08-26 18:29:55,2020-08-26 18:29:55,1,NaN,None,0,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
439,483,testels1606,None,{},{},NaT,1.0,0.0,b'\xa0\xc5Q]\xd38\x04\xbb\xc4\xd8\xa6o\r\x92\x...,pipil11493@royandk.com,...,0,1970-01-01,None,2021-06-10 15:17:00,2021-06-10 15:17:00,1,NaN,None,0,None
440,486,ivanovans,Gu9Nn5sS,{},{},NaT,NaN,0.0,None,ivanovans@oooinex.ru,...,0,None,None,2021-06-23 12:01:38,2021-06-23 12:01:38,0,NaN,None,0,None
441,487,ivanovans-38,ivanovans-38,"{""ltpaToken2"":""qZX1vlOVZEqrT05AEmyhADxfG/zfy2t...",{},2021-06-23,NaN,0.0,None,ivanovans@oooinex.ru,...,0,None,None,2021-06-23 12:04:39,2021-06-23 12:04:39,1,NaN,None,0,None
442,488,ivanovans-3825,Gu9Nn5sS,{},{},NaT,NaN,0.0,None,ivanovans@oooinex.ru,...,0,None,None,2021-06-23 12:06:58,2021-06-23 12:06:58,0,NaN,None,0,None
443,489,677160314,antiaspirant@gmail.com,"{""ltpaToken2"":""LKg2yCQPJ01ycrJU4ns0HnzUMqLklPL...",{},2021-06-22,NaN,0.0,None,antiaspirant@gmail.com,...,0,None,None,2021-06-23 16:07:35,2021-06-23 16:07:35,1,NaN,None,0,None

In [110]:
passengers

,ID,USER_ID,PASSENGER,ORGANIZATION_ID,GROUP_REQUEST_ID,EMAIL,SEX,PHONENUMBER,BIRTHDAY,SCHOOLBOY,MARKETING,PARAMEDIC,FIRSTNAME,MIDDLENAME,LASTNAME,DOCUMENTS,CREATED_AT
0,159,10,"{""sex"":""Female"",""birthdate"":""21.05.1988"",""user...",None,None,,None,None,None,0,0,0,None,None,None,None,2021-04-12 16:21:52
1,160,10,"{""sex"":""Male"",""birthdate"":""01.01.1990"",""userDo...",None,None,,None,None,None,0,0,0,None,None,None,None,2021-04-12 16:21:52
2,161,1,"{""sex"":""Male"",""birthdate"":""26.03.1988"",""userDo...",None,None,,None,None,None,0,0,0,None,None,None,None,2021-04-12 16:21:52
3,163,10,"{""sex"":""Male"",""birthdate"":""11.11.1930"",""userDo...",None,None,,None,None,None,0,0,0,None,None,None,None,2021-04-12 16:21:52
4,164,10,"{""sex"":""Male"",""birthdate"":""11.11.1930"",""userDo...",None,None,,None,None,None,0,0,0,None,None,None,None,2021-04-12 16:21:52
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1531,2959,458,"{""userAirLineBonusCards"":[],""passengerCards"":[...",None,None,a.plokhih@mediasoft.team,M,+79001234567,1995-04-10,0,0,0,None,None,None,None,2021-04-20 12:22:16
1532,2960,476,"{""userAirLineBonusCards"":[],""passengerCards"":[...",None,None,fedorovamg@oooinex.ru,F,+79087776655,1991-01-01,0,0,0,None,None,None,None,2021-04-23 13:34:12
1533,2961,353,"{""userAirLineBonusCards"":[],""passengerCards"":[...",None,None,testovaalex@yandex.ru,F,+79111111112,1959-06-17,0,0,0,None,None,None,None,2021-05-13 19:52:24
1534,2962,482,"{""userAirLineBonusCards"":[],""passengerCards"":[...",None,None,e.likhachev@gateline.ru,M,+79773572787,1955-01-01,0,0,0,None,None,None,None,2021-05-18 14:01:00
1535,2963,487,"{""userAirLineBonusCards"":[],""passengerCards"":[...",None,None,ivanovans@oooinex.ru,F,,1980-04-19,0,0,0,None,None,None,None,2021-06-23 12:24:05